*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #f2f2f2;
    padding: 0.5rem;
    text-align: center;
    font-size: 20px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;	
}

form{
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    place-items: center; 
}

form input{
    margin-left: 20px;
    margin-top: 20px;
}





button {
    background-color: blue;
    color: blue;
    margin-top: 20px;
    margin-left: 20px;
}

